
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bg.css" rel="stylesheet" type="text/css" />
<h2></h2>

<div class="jumbotron">
    <h1>Welcome to CouponHub!</h1>
    <p>This is a website for sharing coupons with the community which benifits both link owner and community.</p>
    <p>
        You can share some coupons such as clothes, bags, food coupons to save money.
        Do you have a coupon to share? Then register and share it.
    </p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>